<div class="h-100">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="toggleMenuLabel">Stoic Manager</h5>
    <button
      type="button"
      class="btn text-danger"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    >
      <i class="bi bi-opencollective"></i>
    </button>
  </div>
  <div class="offcanvas-body h-100 px-0">
    <div class="list-group">
      <a
        (click)="navigate('/task-tracker')"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        class="list-group-item list-group-item-action"
        [ngClass]="{ active: currentPath === '/task-tracker' }"
      >
        Task tracker
      </a>
      <a
        (click)="navigate('/schedule')"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        class="list-group-item list-group-item-action"
        [ngClass]="{ active: currentPath === '/schedule' }"
        >Schedule</a
      >
      <a class="list-group-item list-group-item-action disabled">To do</a>
      <a class="list-group-item list-group-item-action disabled">Diary</a>
      <a class="list-group-item list-group-item-action disabled">Learn</a>
    </div>
  </div>
</div>
