<div class="h-100">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="toggleMenuLabel">Stoic Manager</h5>
    <button
      type="button"
      class="btn text-danger"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    >
      <i class="bi bi-opencollective"></i>
    </button>
  </div>
  <div class="offcanvas-body h-100 px-0">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action active"
        aria-current="true"
      >
        Task tracker
      </a>
      <a href="#" class="list-group-item list-group-item-action">Schedule</a>
      <a href="#" class="list-group-item list-group-item-action">To do</a>
    </div>
  </div>
</div>
